[submodule "src/app/builder"]
	path = src/app/builder
	url = https://github.com/HashColon/HashColon.blog.builder.git
[submodule "src/app/backendconnector"]
	path = src/app/backendconnector
	url = https://github.com/HashColon/HashColon.BackendConnector.git
