<div class="wrapper">
    <div class="division left">
        <mat-card class="page-header-card">
            <mat-form-field class="page-header-input" color='accent'>
                <mat-label>Title</mat-label>
                <input matInput [formControl]='titleControl' (input)='_editTitle()' />
            </mat-form-field>
            <mat-form-field class="page-header-input" disabled color='accent'>
                <mat-label>Date/Time</mat-label>
                <input matInput [formControl]='dateControl' />
            </mat-form-field>
            <mat-form-field class="page-header-input" color='accent'>
                <mat-label>Topic</mat-label>
                <input matInput [formControl]='topicControl' (input)='_editTopic()' />
            </mat-form-field>
            <mat-form-field class="page-header-input" color='accent'>
                <mat-label>Tags</mat-label>
                <input matInput [formControl]='tagsControl' (input)='_editTags()' />
            </mat-form-field>

            <button mat-raised-button class="confirm-button" color='accent' onclick="hljs.highlightAll();">
                Upload page
            </button>
        </mat-card>

        <div class="codemirror-wrapper">
            <blog-codemirror-editor [(code)]='editor.content'></blog-codemirror-editor>
        </div>

    </div>
    <div class="division right">
        <blog-page #pageResult [page]='editor'></blog-page>
    </div>
</div>