<div class="wrapper">

    <h1>
        <span class="page-title" *ngIf="page && page.header && page.header.title">
            <b>{{page.header.title}}</b>
        </span>
    </h1>

    <!-- <br /> -->

    <span class="page-datetime" *ngIf="page && page.header && page.header.datetime">
        {{_getDateTimeString(page.header.datetime)}}
    </span>

    <br />

    <span class="page-topic" *ngIf="page && page.header && page.header.topic">
        <mat-chip *ngIf="!(!page.header.topic || page.header.topic=='')" color="primary" selected>
            {{page.header.topic}}
        </mat-chip>
    </span>

    <br /><br />

    <div class="page-content" *ngIf="page && page.content"
        [innerHTML]='sanitizer.bypassSecurityTrustHtml(page.content)'>
    </div>

    <mat-chip-list class="page-tags" *ngIf="page && page.header && page.header.tags">
        <mat-chip color="accent" selected *ngFor="let tag of page.header.tags">
            #{{tag}}
        </mat-chip>
    </mat-chip-list>

</div>