<mat-sidenav-container>
    <mat-sidenav #topicnav mode="side" [style.width]="'15em'" opened>
        <mat-selection-list #topiclist [multiple]="false" (selectionChange)="_topicSelected($event)">
            <mat-list-option *ngFor='let topic of topics' [value]="topic" [selected]="topic===topics[selectedTopic]">
                {{topic}}
            </mat-list-option>
        </mat-selection-list>
    </mat-sidenav>

    <mat-sidenav-content>

        <mat-sidenav-container>
            <mat-sidenav #pagenav mode="side" [style.width]="'15em'" opened>
                <mat-selection-list #pagelist [multiple]="false" (selectionChange)="_pageSelected($event)">
                    <mat-list-option *ngFor='let page of pages' [value]="page" [selected]="page===pages[selectedPage]">
                        {{page}}
                    </mat-list-option>
                </mat-selection-list>
            </mat-sidenav>

            <mat-sidenav-content>
                <div class="page-viewer">
                    <span>
                        <button mat-mini-fab (click)="topicnav.toggle();" color="primary" class="fab-button">
                            <mat-icon aria-label="Menu">menu</mat-icon>
                        </button>
                        <button mat-mini-fab (click)="pagenav.toggle()" color="primary" class="fab-button">
                            <mat-icon>date_range</mat-icon>
                        </button>
                    </span>


                    <blog-wysiwyg *ngIf="isNewpageMode"> </blog-wysiwyg>

                    <blog-page *ngIf="!isNewpageMode" [page]='pageContent'></blog-page>

                </div>

                <button *ngIf="backend.isSocketReady" mat-mini-fab color="primary"
                    (click)="isNewpageMode=!isNewpageMode" class="fab-button add-button">
                    <mat-icon>{{isNewpageMode?'replay':'add'}}</mat-icon>
                </button>
            </mat-sidenav-content>

        </mat-sidenav-container>
    </mat-sidenav-content>
</mat-sidenav-container>