mat-sidenav-container{
    height: 100%;
    min-height: calc(100vh - 65px);
    
}

.blog-contents {
    border:0;
    padding: 5px;
}

.fab-button{
    margin: 10px;
}

.add-button{
    position: fixed;
    right: 20px;
    bottom: 20px;
}
